<!DOCTYPE html>
<html>
    <head>
        <title>The Mindset Shift</title>
    </head>
    <body>
        <header>
            <h1><a href="/">The Mindset Shift</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time>Published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>

                <!-- Check if an image exists for the post -->
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post image" style="width: 200px; height: auto;">
                {% endif %}

                <!-- Display truncated text with line breaks -->
                <p>{{ post.text|truncatewords:30|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>
